.prodcutos{
	
	width: 90%;

}

.pago{
	width: 50%;
}

.titulo{
	margin-left: 65px;
	margin-bottom: 20px;

}
.image{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.imp{	
	padding-top: 30px;
	width: 100%;
}

.btnx{
	text-align: center;
	padding-top: 55px;	
}

.btnc{
	padding-bottom-bottom: 20px;
	padding-left: 95px;	
}
.der{
	text-align: right;
}