.div-nom-art{
  background-color: rgba(128, 128, 128, 0.2);
  height: 400px; 
}
.div-img-art{
  height: 400px;
}
.div-img-thumbnail{
  height: 100px;
}
.img-thumbnail{
  width: 100%;
}
.img-prev{
  width: 100%;
}

.nombre-art{
  color:#542982;
  font-weight: bolder;
}
.precio-art{
  color: #542982;
  font-weight: bold;
  font-size: 50px;
}

.bg-primary {
    color: #fff;
    background-color: #542682;
}

.light{     
  width: 100px;
  height:100px;
  background-size: 100% 100%;
  display: table;  
}
.display{
  display: table-cell;
}
.btn-agregar-producto{
  border:1px solid #542682 !important;
  color: #542682 !important;
  background-color: rgba(128, 128, 128, 0) !important;
}
.btn-agregar-producto:hover{
  background-color: #542682 !important;
  color: white !important;
}