.navbar-default{
	/*background-color: #542682 !important;*/
	background-color: white !important;
	margin-bottom: 0px !important;
}
.navbar-default .navbar-nav>li>a{
	color:#542682;
	font-weight: bolder;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#542682;
	font-weight: bolder;
}
.navbar-default .navbar-nav>.open>a{
	color: #542682 !important;
}
.no-padding-categorias{
	padding: 0px;
}
.cat-opc{
	height: 50px;
	padding:0px;
	background-color: #542682;
	color:white;
}
.cat-opc a{
	color:white;
}
.categorias{
	width: 100% !important;
	text-align: center;
	font-weight: bolder;
	
}
.categorias a{
	color: #542682;
	border-radius: 0px !important;
}
.categorias a:hover{
	font-size:;
}
.img-banner{	
	width: 100%;
	height: 100%;
}
.div-banner{
	background-color: #542682;
}
.carousel-indicators .active{
	background-color: #542682;
}

/*Carrito*/
.font-opc-nav{
	font-size:20px; margin-top:5px;
}
.cart-ico-nav{
	font-size:30px;
}
.cart-prod{
	position:absolute; 
	z-index:999; 
	right:.5px;
}