.lista-cat{
	padding-top: 30px;
}
.prod-cate{
	/*border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #542682;*/
	height: 400px;
	padding-top: 15px;
}
.prod-detail-prev{
	height: 100%;
	padding: 0px;
	background-color: #F5F5F5;
}
.thum-list{
	width: 100%;
	height: 200px;
}
.desc-list{
	font-weight: bold;
	color: #542682;
	font-size: 20px;
}
.desc-list-precio{
	font-weight: bold;
	color: #542682;
	font-size: 25px;
}
.btn-ver-producto{
	border:1px solid #542682 !important;
	color: #542682 !important;
}
.btn-ver-producto:hover{
	background-color: #542682;
	color: white !important;
}